.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    background-color: #fff;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.line h3, .line-bottom h1, .line-bottom span {
    color: #fff;
}

div h3 span {
    color: #FFF;
    font-size: 14px;
}

div span {
    font-weight: 200;
}

h1 {
    font-weight: 200;
}

.login-header {
  background: #1659bf;
  background: linear-gradient(45deg, #454545 5%, #454545 99%);
}
.login_box a {
  color: #ff4e4e;
}
.login_box a:hover {
  color: #ff4e4e;
}

.login_box .box-message{
    color: #ffffff;
    background-color: #1659bf;
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
    margin: 0 10px 30px 10px;
}

.login_box {
    min-width: 390px;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 32.5%;
    border: 2px solid #1659bf;
}

@media (max-width: 767px) {
    .login_box {
        min-width: initial;
        margin: 0 auto;
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0%;
        left: 0%;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        border: none;
    }
    .form-control-custom{
      margin-bottom: 25px !important;
    }
}

.image-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 4px solid #FFF;
    margin: 10px;
    margin-top: 12px;
    margin-left: 9px;
}

.follow {
    background-color: #1659bf;
    height: 80px;
    cursor: pointer;
}

.follow:hover {
    background-color: #F22F26;
    height: 80px;
    cursor: pointer;
}

.login_control {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 30px;
}

.control {
    color: #000;
    margin: 10px;
}

.label {
    color: #EB4F26;
    font-size: 18px;
    font-weight: 500;
}

.form-control-custom {
    color: #555 !important;
    font-size: 20px;
    border: none;
    line-height: 25px;
    padding-left: 10px;
    border-bottom: 2px solid #CCC;
    margin-bottom: 30px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 10px;
    border-radius: 0;
}

.form-control-custom:focus {
    border-radius: 0px;
    border-bottom: 2px solid #454545;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-orange {
    color: #fff;
    background-color: #454545;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;

}

.login_box .btn-orange {
    height: 55px;
}

.login_box h3 {
    color: #fff;
}

.btn-orange:hover {
    background-color: #ff4e4e; /*#108C81;*/
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
    color: #FFF !important;
}

.line {
    border-bottom: 2px solid #454545;
    margin-bottom: 10px;
}

.line-bottom {
    margin-bottom: 10px;
    border-bottom: 2px solid #1659bf;
}

.outter {
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

.outter img {
    background-color: #fff;
}

h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
    z-index: 9999;
}

.footer {
    width: 100%;
}

:focus {
    outline: none;
}

.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: #454545;
    color: #fff !important;
    margin-right: -1px;
    border-right: 5px solid #454545;
}

.side-menu .navbar-nav .active a:hover {
    background-color: #454545;
    color: #fff !important;
    margin-right: -1px;
    border-right: 5px solid #454545;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li:hover {
    border-bottom: 1px solid #454545;
}

.side-menu .navbar-nav li a {
    padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator {
    float: right;
}

.side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}

.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}

.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper {
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}

.side-menu #search {
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}


/* Main body section */

.side-body {
    margin-left: 310px;
}


/* small screen */

@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
    }
    .side-menu .navbar {
        z-index: 999;
        position: relative;
        height: 0;
        min-height: 0;
        background-color: none !important;
        border-color: none !important;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: block;
        position: absolute;
        width: 100%;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: absolute;
        margin-top: 0;
        height: auto;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle-sidebar {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #454545;
        color: #fff;
        font-size: 16px;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .side-menu .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

.side-menu-container .navbar-nav li a {
    color: #454545;
}

li a span {
    font-size: normal;
}

.side-menu-container .navbar-nav li a {
    font-size: normal;
}

.side-menu-container .navbar-nav li:hover {
    background-color: #454545 !important;
}

.side-menu-container .navbar-nav li:hover a {
    color: #FFFFFF;
}

.btn-custom {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    color: #454545;
    outline: none !important;
}

.btn-custom:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.form-control-search {
    border: none;
    border-radius: 0;
    color: #454545;
}

.panel-custom {
    border-radius: 0;
    border-width: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 0;
    background-color: transparent;
}

.panel-custom .panel-heading {
    color: #fff;
    background-color: #1659bf;
    border-color: #1659bf;
    border-bottom: 5px solid #ff4e4e;
    border-radius: 0;
    height: 50px;
    font-size: 20px;
}

.panel-custom .panel-heading i {
    font-size: 25px;
}

.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #454545;
    outline: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #454545;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.list-group-item, button.list-group-item {
    color: #454545;
}

.list-group-item, .list-group-item:last-child, .list-group-item:first-child {
    border: none !important;
    border-radius: 0px;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #454545;
    color: #fff;
}

button.list-group-item:focus {
    background-color: inherit;
    color: inherit;
}

.badge-success {
    background-color: #5CB85C;
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    color: #5CB85C;
    background-color: #5CB85C;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #454545;
    border-color: #337ab7;
}

.navbar-toggle-sidebar {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #454545;
    color: #fff;
    font-size: 16px;
}

.nav.navbar-nav.navbar-left.logo {
    max-width: 58px;
    margin-left: 10px;
}

.navbar-form {
    margin-top: 12px;
}


/* dashboards */

.kpi {
    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    position: relative;
    /*float: left !important;*/
    padding: 0.5em;
    margin: 0.5em;
    min-width: 200px;
}

.kpi h5 {
    margin-top: 0;
}

.kpi h1 {
    margin: 0.5em 0 0 0;
    text-align: right;
    color: #000;
}

.kpi-separator {
    border-right: 1px solid #ccc;
}

.ui-grid-cell.warning, .ui-grid-cell.success, .ui-grid-cell.danger {
    color: #FFF !important;
}

.ui-grid-cell.warning, span.warning, div.warning {
    background-color: #fdb45c !important;
}

.ui-grid-cell.success, span.success, div.success {
    background-color: #46bfbd !important;
}

.ui-grid-cell.danger, span.danger, div.danger {
    background-color: #f7464a !important;
}

.ui-grid-cell.attention, span.attention, div.attention {
    background-color: #727272 !important;
    color: #FFF !important;
}

.ui-grid-cell-contents div{
    float: left;
    height: 20px;
    cursor: pointer;
    text-align: center;
}

.kpi .success {
    color: #46bfbd !important;
}

.kpi .warning {
    color: #fdb45c !important;
}

.kpi .danger {
    color: #f7464a !important;
}

.angular-google-map-container {
    height: 400px;
}

.angular-grid {
    height: 250px;
    margin-bottom: 10px;
}

.side-menu .navbar-default{
	background-color: #e7e7e7 !important;
}

#footer-body .navbar-nav>li>a{
    color: #FFF;
}

.menufilho li a{
    padding-left: 40px !important;
    background-color: #FFFFFF !important;
    color: #333333 !important;
    font-size:12px ;

}

.menufilho li a:hover{
    background-color: #454545 !important;
    color: #FFFFFF !important;
}

.navbar {
 margin-bottom: 0;
}

div.content {
    margin-top: 20px;
}
