<footer>
    <nav class="navbar navbar-default navbar-static-bottom hidden-xs"
        style="background-color:#1BA195;" ng-hide="!restrictedPage && !isRotaPublica">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="#">Ruby on Rails + PgSQL</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                <ul class="footer-bar-btns visible-xs">
                    <li><a href="#/changelog" class="btn" title="Notas de versão"><i class="fa fa-2x fa-sticky-note"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
