
    <div class="col-md-9 col-lg-10 content animated fadeIn" >

		<div ng-controller="CidadaosController as cidadaos">

            <div class="row">

                <div class="col-md-12">
                	<div class="panel panel-default panel-custom">
                	    <div class="panel-heading truncate">
                	        <i class="icon-presentation"></i> &nbsp;&nbsp;&nbsp;Registro de Cidadãos
                	    </div>
                        <div class="panel-body" ng-if="!cidadaos.gridListagemDeCidadaos.data[0].nome">
                            <center>Carregando...</center>
                        </div>
                	    <div class="panel-body" style="position: relative" ng-if="cidadaos.gridListagemDeCidadaos.data[0].nome">

                            <div class="col-md-12">

                                <div>
                                    <h5><strong>Formulário para cadastro de novos cidadãos</strong></h5>

                                    <div class="col-md-12 col-xs-12">
                                        <p  class = "text-center" ng-show = "!cidadaos.resposta.sucesso"
                                        ng-bind = "cidadaos.resposta.mensagem"></p>

                                        <form name = "formNovoCidadao"  >

                                            <div class="row">

                                                <div class="col-md-6">

                                                    <p  class = "box-message" >
                                                        <i class="fa fa-info-circle">&nbsp;</i> Informe os dados abaixo
                                                    </p>

                                                    <div class="control">
                                                        <input id="nome" type="text" ng-required = "true"  name = "nome"
                                                        ng-model = "cidadaos.cidadao.nome" placeholder="Nome"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                    <div class="control">
                                                        <select
                                                            class="form-control form-control-custom"
                                                            ng-required = "true"
                                                            name = "sexo"
                                                            ng-options="perfil.id as perfil.titulo for perfil in cidadaos.opcoesDeSexo"
                                						    ng-model = "cidadaos.cidadao.sexo"
                                                            ng-init="perfil.id = 0">
                                                        </select>
                                					</div>

                                                    <div class="control">
                                                        <input type="text" ng-required = "true"  name = "endereco"
                                                        ng-model = "cidadaos.cidadao.endereco" placeholder="Endereço"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                    <div class="control">
                                                        <input type="text" ng-required = "true"  name = "cidade"
                                                        ng-model = "cidadaos.cidadao.cidade" placeholder="Cidade"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                    <div class="control">
                                                        <input type="number" ng-required = "true"  name = "idade"
                                                        ng-model = "cidadaos.cidadao.idade" placeholder="Idade"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                </div>

                                                <div class="col-md-6">

                                                    <p  class = "box-message" >
                                                        <i class="fa fa-info-circle">&nbsp;</i> Informe os dados de acesso
                                                    </p>

                                                    <div class="control">
                                						<select
                                                            placeholder="Papel"
                                                            class="form-control form-control-custom"
                                                            ng-required = "true"
                                                            name = "papel"
                                						    ng-model = "cidadaos.cidadao.papel" >
                                                            <option value="">Papel...</option>
                                                            <option value="auditor">Auditor</option>
                                                            <option value="cidadai">Cidadão</option>
                                                        </select>
                                					</div>

                                                    <div class="control">
                                                        <input type="email" ng-required = "true"  name = "email"
                                                        ng-model = "cidadaos.cidadao.email" placeholder="E-mail"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                    <div class="control">
                                                        <input type="password" ng-required = "true"  name = "senha"
                                                        ng-model = "cidadaos.cidadao.senha" placeholder="Senha"
                                                        class="form-control form-control-custom" >
                                                    </div>

                                                    <div class="control">
                                                        <input type="password" ng-required = "true"  name = "confirma_senha"
                                                        ng-model = "cidadaos.cidadao.confirma_senha" placeholder="Confirma senha"
                                                        class="form-control form-control-custom" >
                                                        <span ng-show="cidadaos.cidadao.senha !== cidadaos.cidadao.confirma_senha">Confirme a senha</span>
                                                    </div>

                                                </div>

                                            </div>

                                        <div align="center">
                                            <button
                                                    ng-if="!cidadaos.dataEditMode"
                                                    ng-click  = "cidadaos.cadastrar(cidadaos.cidadao)"
                                                    ng-disabled = "formNovoCidadao.$invalid || cidadaos.dataLoading"
                                                    type = "submit"  class="btn btn-orange">
                                                <span ng-if = "cidadaos.dataLoading === true" class="fa fa-spinner fa-pulse fa-1x"></span>
                                                Cadastrar
                                            </button>
                                            <button
                                                    ng-if="cidadaos.dataEditMode"
                                                    ng-click  = "cidadaos.atualizarCidadao(cidadaos.cidadao)"
                                                    ng-disabled = "formNovoCidadao.$invalid || cidadaos.dataLoading"
                                                    type = "submit"  class="btn btn-orange">
                                                <span ng-if = "cidadaos.dataLoading === true" class="fa fa-spinner fa-pulse fa-1x"></span>
                                                Atualizar
                                            </button>
                                        </div>
                                        <br/>
                                    </form>
                                </div>

                                </div>

                            </div>

                		</div><!-- fim panel-body -->
                        <div class="panel-footer">
                            <fonte titulo="'Receita Federal'"></fonte>
                            <info titulo="'2017-04-09 02:55:00'"></info>
                        </div>
                	</div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                	<div class="panel panel-default panel-custom">
                	    <div class="panel-heading truncate">
                	        <i class="icon-presentation"></i> &nbsp;&nbsp;&nbsp;Listagem de Cidadãos
                	    </div>
                        <div class="panel-body" ng-if="!cidadaos.gridListagemDeCidadaos.data[0].nome">
                            <center>Carregando...</center>
                        </div>
                	    <div class="panel-body" style="position: relative" ng-if="cidadaos.gridListagemDeCidadaos.data[0].nome">

                            <div class="col-md-12">

                	            <div>
                                    <h5><strong>Listagem os cidadãos cadastrados</strong></h5>

                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Nome</th>
                                          <th>Sexo</th>
                                          <th>Endereço</th>
                                          <th>Idade</th>
                                          <th>Ações</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="cidadao in cidadaos.gridListagemDeCidadaos.data">
                                          <th scope="row">{{ cidadao.id }}</th>
                                          <td>{{ cidadao.nome }}</td>
                                          <td>{{ cidadao.sexo | mostraSexo }}</td>
                                          <td>{{ cidadao.endereco }}</td>
                                          <td>{{ cidadao.idade }}</td>
                                          <td>{{ cidadao.cidade }}</td>
                                          <td>
                                              <button ng-click="cidadaos.edicao(cidadao)" type="button" class="btn btn-warning">edição</button>
                                              <button ng-click="cidadaos.remover(cidadao)" type="button" class="btn btn-danger">remover</button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                </div>

                	        </div>
                		</div><!-- fim panel-body -->
                        <div class="panel-footer">
                            <fonte titulo="'Receita Federal'"></fonte>
                            <info titulo="'2017-04-09 02:55:00'"></info>
                        </div>
                	</div>
                </div>

			</div>

            <div class="row">

                <div class="col-md-12">
                	<div class="panel panel-default panel-custom">
                	    <div class="panel-heading truncate">
                	        <i class="icon-presentation"></i> &nbsp;&nbsp;&nbsp;Listagem de Cidadãos
                	    </div>
                        <div class="panel-body" ng-if="!cidadaos.gridListagemDeCidadaos.data[0].nome">
                            <center>Carregando...</center>
                        </div>
                	    <div class="panel-body" style="position: relative" ng-if="cidadaos.gridListagemDeCidadaos.data[0].nome">
                            <div class="col-md-12">

                	            <div>
                                    <h5><strong>Listagem dos cidadãos cadastrados</strong></h5>
                                    <div
                                        ui-grid="cidadaos.gridListagemDeCidadaos"
                                        ui-grid-resize-columns
                                        class="angular-grid"
                                        style="height: 400px;"></div>
                                </div>

                	        </div>
                		</div><!-- fim panel-body -->
                        <div class="panel-footer">
                            <fonte titulo="'Receita Federal'"></fonte>
                            <info titulo="'2017-04-09 02:55:00'"></info>
                        </div>
                	</div>
                </div>

			</div>

		</div>

    </div>
